html {
    scroll-behavior: smooth;
  }

.animated-word {
    opacity: 0;
    transform: translateY(-20px);
    animation: animateWord 0.5s forwards;
}

@keyframes animateWord {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}