@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #161616;
  }
}

.transition-bg-color {
  transition: background-color 0.3s ease;
}

.dark-theme {
  @apply bg-gradient-to-br from-neutral-50 to-slate-100
}


.arimo {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.arimo-sec {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.fade-in-out {
  animation: fadeInOut 4s infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skill-scroll {
  display: flex;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.skill-scroll-inner {
  display: flex;
  animation: scroll 30s linear infinite; /* Adjust the duration for desired speed */
}

.skill {
  padding-right: 2rem; /* Adjust as needed */
}

.duplicate {
  display: flex;
}