@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950;
  }
}

.transition-bg-color {
  transition: background-color 0.3s ease;
}

.dark-theme {
  background-color:  rgb(249 250 251); /* Dark background color */
  border-color: #89CFF0;
}