@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-700 border-2 border-blue-200;
    transition: background-color 0.3s ease;
  }
}

.dark-theme {
  background-color: white;
  border-color: white;
}
